.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.created {
  background-color: #ecdffb;
  color: #5314a3;
}

.issued {
  background-color: #fdead8;
  color: #ae590a;
}

.client_paid {
  background-color: #d1fae4;
  color: #166e3f;
}

.us_paid {
  background-color: #e3eafd;
  color: #133a9a;
}