.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 0;
}

.selectGroup {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  [data-select-type="company"] {
    min-width: 200px;
  }
}

.mobileView {
  display: flex !important;
}

@media (max-width: 600px) {
  .filterContainer {
    margin: 0;
    display: none;

    &.mobileView {
      display: flex;
    }
  }

  .selectGroup {
    flex-direction: column;
    gap: 16px;

    [data-select-type] {
      width: 100%;
      min-width: unset;
    }
  }
}
