.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 0;
}

.selectGroup {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  [data-select-type="company"] {
    min-width: 200px;
  }
}
