.pageContainer {
   display: flex;
   flex-direction: column;
   .wrapper {

      .topic {
         display: flex;
         justify-content: space-between;
         align-items: center; 
         width: 100%;

         h2 {
            font-weight: 600;
            font-size: 24px;
            color: #14151A;
         }
      }
   }

}
