.sellersSection {
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;

    .headerLeft {
      display: flex;
      align-items: center;
      gap: 16px;

      .titleBlock {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .headerTitle {
          font-size: 24px;
          font-weight: 600;
          color: #14151A;
        }

        @media screen and (max-width: 768px) {
          .desktopFilter {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .header {
      padding: 0 16px;
    }
  }
} 